*
!.gitignore

!docs/
!docs/devguide.md
!docs/overview.md

!tests/
!tests/*.py
!tests/*
!tests/*/*.py
tests/lib_config.py

!scripts/
!scripts/*.py
!scripts/lib_config.py.sample
!scripts/requirements.txt
