*

!.gitignore

!version.txt

!docs/
!docs/devguide.md
!docs/overview.md

!tests/
!tests/*.py
tests/lib_config.py

!lib-files/
!lig-files/*.py
!lig-files/lib_config.py.sample
!lig-files/requirements.txt
