*

!.gitignore

!version.txt

!docs/
!docs/devguide.md
!docs/overview.md

!tests/
!tests/*.py
tests/lib_config.py

!cis1-libs/
!cis1-libs/*.py
!cis1-libs/lib_config.py.sample
!cis1-libs/requirements.txt
